*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.993);
}
.botao{
    background-color:#ff5c3a ;
    text-align: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    

}
.contato{
    
    width: 276px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}
.destaque{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.topo{
    background-color:#ff3d44;
}
.titulo{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.titulo a{
    text-decoration: none;
    color: black;
}
.carrinho{
    margin: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
}

.navegacao img{
    width: 100px;

}
.op img{
    width: 40px;
    margin-right: 28px;
}
.opc img{
    width: 33px;
    margin-right: 28px;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    margin: 30px;
}

.navegacao{
   display: flex; 
}
.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.menu a:hover{
    margin-bottom: 10px;
}
.produto img{
    width: 80%;
    margin: 20px;


}
.produto{
    border-radius: 20px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.corte{
    margin: 20px;
    width: 30px;
    font-size: 13px;
    color: #948f90ef;
}

.cartao{
    font-size: 14px;
    color:#948f90ef; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;


}
.produto:hover{
    border-color: #f3f3f3;
    border-style: solid;
}

footer{
    background-color:#ff3d44
}
.texto{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
.contato{
    background-color: #ff3d43d0;
    width: 500px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.campo{
    display: block;
    width: 100%;
}
.social img{
    width: 50px;
}
.social{
    list-style:none;
}