*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.993);
}
.botao{
    background-color:#ff5c3a ;
    text-align: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    

}
.topo{
    background-color:#ff3d44;
}
.titulo{
    text-align: center;
}


.navegacao img{
    width: 100px;

}
.op img{
    width: 40px;
    margin-right: 28px;
}
.opc img{
    width: 33px;
    margin-right: 28px;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    margin: 30px;
}

.navegacao{
   display: flex; 
}
.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.menu a:hover{
    margin-bottom: 10px;
}
.produto img{
    width: 80%;
    margin: 20px;


}
.produto{
    border-radius: 20px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}


.produto:hover{
    border-color: #f3f3f3;
    border-style: solid;
}

footer{
    background-color:#ff3d44
}
.social img{
    width: 50px;
}
.social{
    list-style:none;
}